body {
  background-color: lightblue;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-text {
  margin-left: 10px;
}

.custom-icon {
  font-size: 20px;
  margin-bottom: 10px;
  color: purple;
}

.avatar {
  width: 200px;
  border-radius: 50%;
}